email=gary.bisaga@powerschool.com
always-auth=true
registry=https://artifactory.powerschoolcorp.com/artifactory/api/npm/ps-npm/
//artifactory.powerschoolcorp.com/artifactory/api/npm/ps-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJBdmt6TnItVnJDbzNveGRmeWVWTnN0dV9fVEotU2pjeTUtYTl1eE1seU1vIn0.eyJzdWIiOiJqZmFjQDAxZTE5azF6bng5a2FzMGJ5d3ZwdDEwbXRiL3VzZXJzL2dhcnkuYmlzYWdhQHBvd2Vyc2Nob29sLmNvbSIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvZ3JvdXBzOlwiaGFja2F0aG9uXCIsIiwiYXVkIjoiKkAqIiwiaXNzIjoiamZmZUAwMWUxOWsxem54OWthczBieXd2cHQxMG10YiIsImV4cCI6MTc5NzM3NDM2OSwiaWF0IjoxNzI1Mzc0MzY5LCJqdGkiOiJiZTMwMDk1NS0zNzk5LTQ5OGItYmQ4ZS1hZWMyNDA5MjYyZTkifQ.wcv_kRNJ3MSgEE-dF-Ep2JGSf5x3sCABycPcP7IPavVkm9H5BBw8x0kNVeHrC4CW09pOAy4N5OuJR8iu1wEkWL3DGA41bcaW81hd6e8x0qito6YWQwl0nh3paEcfmjz9Qv4U3GMfJ4BnyHo8Epi6M7rUh-p1VM-Ry_iIuazUQx-Xr7Yv7tI3ZdfgCgBBTUwnn2iZdTdeO5SfvtuXZNVWWtsTDxPL4cr30clxVRfGiVds07QyO2KS5cNzUaxcmD7Mhj7dLeB2zFrM4bpBkAhe_wFsN2G3bhUBbueHuvzbggdV6MwAc1QctzJWS25IsFrFpaA5M99w_03XDvtgUYaMnQ
